.Container {
  text-align: center;
}

.Container h1 {
  padding-left: 100px;
  color: blue;
}

.display_area {
  width: 500px;
  height: 500px;
}
.moon {
  position: absolute;
  padding-top: 90px;
}

.sun {
  position: absolute;
  padding-top: 180px;
}

.moon img {
  width: 50px;
}

.sun img {
  width: 50px;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-icon {
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.github path {
  fill: black;
}

.social-icon svg {
  height: 32px;
  width: 32px;
}

.footer {
  position: fixed;
  width: 100%;
  padding-bottom: 20px;
  background-color: rgb(254, 213, 213);
  text-align: center;
  bottom: 0;
  color: black;
}
.footer h3 {
  margin: 0;
  padding: 0;
}

@media Screen and (min-width: 460px) {
  .moon {
    padding-left: 51%;
  }

  .sun {
    padding-left: 51%;
  }
}

@media Screen and (max-width: 460px) {
  .moon {
    padding-left: 63%;
  }
  .sun {
    padding-left: 63%;
  }
}

@media Screen and (max-width: 395px) {
  .moon {
    padding-left: 73%;
  }
  .sun {
    padding-left: 73%;
  }
}
